.from {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 156, 156);
  width: 50%;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  height: 100vh;
  margin-top: 5px;
}
.field {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
  /* margin: 10px; */
}
Button {
  width: 100px;
  height: auto;
  background-color: rgb(67, 153, 40);
  color: rgb(255, 255, 255);
}
